.rounded-bottom-left {
    border-bottom-left-radius: 40px !important;
}

.rounded-bottom-right {
    border-bottom-right-radius: 40px !important;
}

.nav {
    color: black !important;
}

.auth-bg-size {
    height: 100vh !important;
}

.rounded-corners {
    border-radius: 30px;
}
